bitrepository-repository-settings-xsd/src/main/resources/xsd/RepositorySettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Version ${project.version} -->
<xs:schema targetNamespace="http://bitrepository.org/settings/RepositorySettings.xsd"
  attributeFormDefault="unqualified" elementFormDefault="qualified" 

  xmlns="http://bitrepository.org/settings/RepositorySettings.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <xs:element name="RepositorySettings">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The settings for the BitRepository
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element ref="Collections" minOccurs="1" />
        <xs:element ref="ProtocolSettings" minOccurs="1" />
        <xs:element ref="ClientSettings" minOccurs="0" />
        <xs:element ref="PillarSettings" minOccurs="0" />
        <xs:element ref="DeleteFileSettings" minOccurs="0" />
        <xs:element ref="GetAuditTrailSettings" minOccurs="0" />
        <xs:element ref="GetChecksumsSettings" minOccurs="0" />
        <xs:element ref="GetFileSettings" minOccurs="0" />
        <xs:element ref="GetFileIDsSettings" minOccurs="0" />
        <xs:element ref="GetStatusSettings" minOccurs="0" />
        <xs:element ref="PutFileSettings" minOccurs="0" />
        <xs:element ref="ReplaceFileSettings" minOccurs="0" />
        <xs:element ref="PermissionSet" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Collections">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>List of Collections present in the repository.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="Collection" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Collection">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Defines the collection specific part attributes.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ID" type="xs:string" >
          <xs:annotation>
            <xs:documentation> The unique ID of the collection.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation> The human readable name of the collection.</xs:documentation>
          </xs:annotation>
        </xs:element>
          <xs:element ref="PillarIDs">
            <xs:annotation>
              <xs:documentation>
                List of the pillars contributing to the collection.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PillarIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PillarID" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ProtocolSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>The settings for the org.bitrepository.org.bitrepository.protocol</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="DefaultChecksumType" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Default checksum used in the collection. The default checksums should be cheap to supply, eg. they
              can be requested in bulk from pillars, without the pillar having to calculate the checksum.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AllowedFileIDPattern" type="xs:string">
          <xs:annotation> 
            <xs:documentation>
              Regular expression describing the allowed fileIDs in the collection.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequireMessageAuthentication" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Require components to authenticate any messages upon reception.
              The implies that all messages has to be signed by sender. 
            </xs:documentation>
          </xs:annotation>
        </xs:element>    
        <xs:element name="RequireOperationAuthorization" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Require components to authorize any operation prior to execution.
              The implies that all messages has to be signed by sender.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequireChecksumForDestructiveRequests" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Require a checksum for pillar verification when requesting a destructive operation.
              I.e. require the provision of a checksum and specification when requesting the 
              replacement or deletion of a file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequireChecksumForNewFileRequests" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Require a checksum when requesting a new file in the collection. 
              This also covers the new file in a replace request. 
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CollectionDestination" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination for general broadcast messages in the BitRepository. I.e. the Identify requests.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AlarmDestination" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination (topic/queue) for exchanging alarms.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PillarDestination" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination for broadcast messages to pillars. I.e. the Identify requests. If this issen't defined
              the general CollectionDestination is used
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailDestination" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination for broadcast messages to audit trail contributors. I.e. the Identify requests. If this
              isen't defined the general CollectionDestination is used.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StatusDestination" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination for identifying status contributors. I.e. the Identify requests. If this
              isn't defined the general CollectionDestination is used.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="MessageBusConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MessageBusConfiguration">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The configuration for a message bus (may consist of several brokers)
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Name" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The name of the message bus
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="URL" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              This is where the message bus can be found
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ClientSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>General settings for a client</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="IdentificationTimeout" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The timeout for the identification in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperationTimeout" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The timeout for the actual operation in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:element name="PillarSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
            The settings for the org.bitrepository.org.bitrepository.protocol
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the DeleteFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetAuditTrailClient.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="NonPillarContributorIDs" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              List of IDs of the components that should respond to GetAuditTrail, beside the pillars 
              of the respective collections.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetChecksumsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileIDsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetStatusClient.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="NonPillarContributorIDs" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              List of the components that should respond to GetStatus.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the PutFileClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the ReplaceFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="PermissionSet">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The set of permissions valid in this collection.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Permission">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Describes the permissions for a given entity along with the associated certificate.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Description of the entity for which these permissions are valid.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Certificate" type="Certificate" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The certificate used to identify the entity with the specified permission.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="InfrastructurePermission" type="InfrastructurePermission" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines the infrastructure components the entity is allowed to access.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
         <xs:element name="OperationPermission" type="OperationPermission" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines the operation (or operation set) the entity may perform.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ComponentIDs">
    <xs:sequence>
      <xs:element name="IDs" type="xs:string" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Defines the list of allowed components.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Certificate">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Encapsulates a single base64 encoded X509 certificate and defines who is the allowed users.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CertificateData">
        <xs:simpleType>
          <xs:restriction base="xs:base64Binary"/>  
        </xs:simpleType>
      </xs:element>
      <xs:element name="AllowedCertificateUsers" type="ComponentIDs" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Defines which components are allowed to use the certificate. If no restrictions apply, leave out the element.
          </xs:documentation>
        </xs:annotation>
      </xs:element>    
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="InfrastructurePermission">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The set of the different infrastructure permission components may be granted.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="MessageBusClient" />
      <xs:enumeration value="MessageBusServer" />
      <xs:enumeration value="FileExchangeClient" />
      <xs:enumeration value="FileExchangeServer" />
      <xs:enumeration value="MessageSigner"> 
        <xs:annotation>
          <xs:documentation xml:lang="en">
            MessageSigner InfrastructurePermission is implicitly given when a set of OperationPermission
            is provided for a certificate. It would make no sense that a certificate will allow an operation
            but not allowed to sign a message so the certificate can be identified. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GetFile" />
      <xs:enumeration value="PutFile" />
      <xs:enumeration value="GetChecksums" />
      <xs:enumeration value="GetFileIDs" />
      <xs:enumeration value="GetFileInfos" />
      <xs:enumeration value="DeleteFile" />
      <xs:enumeration value="ReplaceFile" />
      <xs:enumeration value="GetAuditTrails" />
      <xs:enumeration value="GetStatus" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OperationPermission">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines the different kinds of operations permission can be given.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
     <xs:element name="Operation" type="Operation"> </xs:element>
     <xs:element name="AllowedComponents" type="ComponentIDs" minOccurs="0" maxOccurs="1">
       <xs:annotation>
         <xs:documentation xml:lang="en">
           The list of components where this permission applies. If the list is not present, the permission applies for all. 
         </xs:documentation>
       </xs:annotation>
     </xs:element>
      <xs:element name="Collections" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The list of collection where this permission applies. If the list is not present, the permission applies
            for all.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
   </xs:sequence>
  </xs:complexType>
</xs:schema>
