src/main/resources/xsd/CollectionSettings.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://bitrepository.org/settings/${project.version}/CollectionSettings.xsd"
  attributeFormDefault="unqualified" elementFormDefault="qualified" 

  xmlns="http://bitrepository.org/settings/${project.version}/CollectionSettings.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <xs:element name="CollectionSettings">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The settings for the BitRepository
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CollectionID" type="xs:string" minOccurs="1" />
        <xs:element ref="ProtocolSettings" minOccurs="1" />
        <xs:element ref="ClientSettings" minOccurs="0" />
        <xs:element ref="PillarSettings" minOccurs="0" />
        <xs:element ref="DeleteFileSettings" minOccurs="0" />
        <xs:element ref="GetAuditTrailSettings" minOccurs="0" />
        <xs:element ref="GetChecksumsSettings" minOccurs="0" />
        <xs:element ref="GetFileSettings" minOccurs="0" />
        <xs:element ref="GetFileIDsSettings" minOccurs="0" />
        <xs:element ref="GetStatusSettings" minOccurs="0" />
        <xs:element ref="PutFileSettings" minOccurs="0" />
        <xs:element ref="ReplaceFileSettings" minOccurs="0" />
        <xs:element ref="PermissionSet" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ProtocolSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>The settings for the protocol</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="DefaultChecksumType" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Default checksum used in the collection.
            </xs:documentation>
          </xs:annotation>
        </xs:element>    
        <xs:element name="CollectionDestination" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination for the BitRepository participants to communicate upon.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AlarmDestination" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The destination (topic/queue) for exchanging alarms.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="MessageBusConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MessageBusConfiguration">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The configuration for a message bus (may consist of several brokers)
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Name" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The name of the message bus
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="URL" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              This is where the message bus can be found
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ClientSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>General settings for a client</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="IdentificationTimeout" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The timeout for the identification in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperationTimeout" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The timeout for the identification in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PillarIDs" type="xs:string" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              List of the pillars contributing to the collection.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PillarSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The settings for the protocol
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ProgressResponseMandatory" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines whether progress responds should be set after receiving
              a operation request.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="AuditTrailLevel">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The level for keeping AuditTrails.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="AlarmLevel">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The level for raising Alarms.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the DeleteFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetAuditTrailClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetChecksumsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileIDsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetStatusClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the PutFileClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the ReplaceFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="PermissionSet">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The set of permissions to allow for this collection.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AuditTrailLevel">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Definition of the level of audit trail information to maintain in the
          system components.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="LOW">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Minimum level of of audit trail information
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="MEDIUM">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Standard level of of audit trail information
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="HIGH">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Lots of audit trail information
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="AlarmLevel">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Define the severeness of an incident before raising an Alarm.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="EMERGENCY">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Only the most critical incidents can cause an Alarm to be raised.
              E.g. all the files at a Pillar is missing.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="ERROR">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Raise an Alarm when an operation goes bad.
              E.g. a file is only put on two out of three pillars.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="WARNING">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Raise an Alarm in every possible event.
              E.g. not all expected pillars reply to an Identify request.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="Permission">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Describes the permissions for a given entity along with the associated certificate.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Description of the entity for which these permissions are valid.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="Certificate" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The certificate used to identify the entity with the specified permission.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="InfrastructurePermission" type="InfrastructurePermission" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines the infrastructure components the entity is allowed to access.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
         <xs:element name="OperationPermission" type="OperationPermission" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines the operation (or operation set) the entity may perform.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Certificate">
    <xs:simpleType>
      <xs:annotation><xs:documentation xml:lang="en">
          Encapsulates a single base64 encoded X509 certificate.
      </xs:documentation></xs:annotation>
    <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
  </xs:element>

  <xs:simpleType name="InfrastructurePermission">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Set of the different infrastructure components permission may be granted to.
        Determines in which trust store(s) the associated certificate may be placed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="MessageBusClient" />
      <xs:enumeration value="MessageBusServer" />
      <xs:enumeration value="FileExchangeClient" />
      <xs:enumeration value="FileExchangeServer" />
      <xs:enumeration value="MessageSigner" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OperationPermission">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines the different kinds of operations permission can be given to perform.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GetFile" />
      <xs:enumeration value="PutFile" />
      <xs:enumeration value="GetChecksums" />
      <xs:enumeration value="GetFileIDs" />
      <xs:enumeration value="DeleteFile" />
      <xs:enumeration value="ReplaceFile" />
      <xs:enumeration value="GetAuditTrails" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
